@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Lobster+Two:ital@1&family=Open+Sans:ital@1&family=Poppins:wght@100;200&family=Roboto+Slab:wght@200;300&display=swap');

.Kids_div{
    margin-top: 6%;
}
.Kids_div h2{
    font-family: 'Roboto Slab', serif;
}

@media screen and (max-width:576px) {
    .Kids_div {
        width: 80%;
        margin: auto;
    }
}